<div *ngIf="product">
<div
    class="detail-container"
    *ngIf="product">

    <div class="detail-image">

        <img
            [src]="getFullImageUrl(product.imageUrl)"
            [alt]="product.name">

    </div>

    <div class="detail-content">

    <div class="detail-info">

        <div class="detail-name">
        {{ product.name }}
        </div>
        <div style="margin-top:6px; color: #94a3b8;">
            Thương hiệu: {{ product.brandName || 'Đang cập nhật' }}
        </div>
        <div style="margin-top:8px;">
            <p-tag *ngIf="product.isInStock" value="Còn hàng" severity="success"></p-tag>
            <p-tag *ngIf="product.isInStock === false" value="Hết hàng" severity="danger"></p-tag>
        </div>
        
        <div style="margin-top: 10px;">
            <p-rating [ngModel]="productRating" [readonly]="true"></p-rating>
        </div>

        <div class="detail-price">
            Giá: {{ product.sellPrice | number }} VNĐ
        </div>

        <div class="detail-description">
            Mô tả: {{ product.description }}
        </div>
        <div class="detail-description">
            Số lượng: {{ product.quantity }}
        </div>
    </div>

    <p-button
        label="Add To Cart"
        icon="pi pi-shopping-cart"
        [disabled]="!product.isInStock"
        (onClick)="addToCart(product)">
    </p-button>
</div>
</div>
    <div
        *ngIf="relatedProducts.length > 0"
        class="related-products">
        <h3>Sản phẩm liên quan</h3>
        <div class="related-grid">
            <div
                *ngFor="let item of relatedProducts"
                class="related-card"
                (click)="goToDetail(item.id)">
                <img
                    [src]="getFullImageUrl(item.imageUrl)"
                    [alt]="item.name">
                <div class="related-name">
                    {{ item.name }}
                </div>
                <div class="related-price">
                    {{ item.sellPrice | number }} VNĐ
                </div>
            </div>
        </div>
    </div>
</div>