<div class="giaodien">
    <div class="form-container">
        <div class="form-title">
            Create Product
        </div>
<form [formGroup]="form" (ngSubmit)="onSaveProduct()" style="width: 70%; margin: auto;">
  <div class="form-control">
    <label for="name">Name</label>
    <div>
      <input
        id="name" type="text"
        formControlName="name"
        placeholder="Name"
      />
      @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <small class="text-red-500" style="color: red;">Vui lòng nhập tên sản phẩm!</small>
      }
    </div>
  </div>
    <div class="form-control">
    <label for="importPrice">Import Price</label>
    <div>
      <input
        id="importPrice"
        type="number"
        formControlName="importPrice"
        placeholder="Import Price"
      />
      @if (form.get('importPrice')?.invalid && form.get('importPrice')?.touched) {
        <small class="text-red-500" style="color: red;">Vui lòng nhập giá nhập!</small>
      }
    </div>
  </div>
    <div class="form-control">
    <label for="sellPrice">Sell Price</label>
    <div>
      <input
        id="sellPrice"
        type="number"
        formControlName="sellPrice"
        placeholder="Sell Price"
      />
      @if (form.get('sellPrice')?.invalid && form.get('sellPrice')?.touched) {
        <small class="text-red-500" style="color: red;">Vui lòng nhập giá bán!</small>
      }
    </div>
  </div>
  <div class="form-control">
    <label for="imageFile">Chọn ảnh</label>
    <div>
      <input
        id="imageFile"
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)" />
      @if (form.get('imageUrl')?.invalid && form.get('imageUrl')?.touched) {
      <small class="text-red-500" style="color: red;">Bắt buộc phải chọn hình ảnh!</small>
    }
    </div>
</div>
    <div class="form-control">
        <label for="quantity">Quantity</label>
        <div>
          <input
            id="quantity"
            type="number"
            formControlName="quantity"
            placeholder="Quantity"
          />
          @if (form.get('quantity')?.invalid && form.get('quantity')?.touched) {
            <small class="text-red-500" style="color: red;">Vui lòng nhập số lượng!</small>
          }
        </div>
    </div>
  <div class="form-control">
    <label for="description">Description</label>
    <div>
      <textarea
        id="description"
        formControlName="description"
        placeholder="Description"
      ></textarea>
    </div>
    </div>
    <div class="form-control">
    <label for="categoryId">Category</label>
    <div>
        <select id="categoryId" formControlName="categoryId">
            <option [ngValue]="null">-- Chọn danh mục --</option>

            <option
                *ngFor="let category of categories"
                [ngValue]="category.id">
                {{ category.name }}
            </option>
        </select>

        @if (form.get('categoryId')?.invalid && form.get('categoryId')?.touched) {
            <small class="text-red-500" style="color: red;">
                Vui lòng chọn danh mục!
            </small>
        }
    </div>
    </div>
<div class="btn-group">
  <button type="submit" class="save-btn">Save</button>
  <button type="button" class="cancel-btn" (click)="cancel()">Cancel</button>
</div>
</form>
    </div>
</div>

