/* You can add global styles to this file, and also import other style files */
.p-autocomplete-overlay {
    width: 600px !important;
    max-height: 500px !important;
}

.p-autocomplete-items {
    max-height: 500px !important;
}