    <div class="navbar">
    <div class="navbar-left">
        <div class="logo">
        MiniStore
        </div>
    </div>

    <div class="navbar-center">
        <span class="p-input-icon-left search-wrapper">
        <i class="pi pi-search"></i>
        <p-autoComplete
            [(ngModel)]="searchKeyword"
            [suggestions]="suggestions"
            (completeMethod)="filterProducts($event)"
            (onSelect)="onSelectProduct($event.value)"
            optionLabel="name"
            placeholder="Tìm sản phẩm..."
            [style]="{'width':'600px'}">

            <ng-template let-product pTemplate="item">
                <div class="product-suggestion">
                    <img
                        [src]="product.imageUrl"
                        [alt]="product.name"
                        class="suggestion-image">

                    <div class="suggestion-info">
                        <div class="suggestion-name">
                            {{ product.name }}
                        </div>

                        <div class="suggestion-price">
                            {{ product.sellPrice | number }} đ
                        </div>
                    </div>
                </div>
            </ng-template>
</p-autoComplete>
        </span>
    </div>

    <div class="navbar-right">
        <nav class="navbar-menu">
        <a routerLink="/home">
        <img src="assets/home.png" alt="Home" class="nav-icon"></a>
        <a *ngIf="isLoggedIn" routerLink="/user-info">
        <img src="assets/information.png" alt="User-info" class="nav-icon">
        </a>
        <a *ngIf="!isLoggedIn" routerLink="/login">
        <img src="assets/login.png" alt="Login" class="nav-icon">
        </a>
        </nav>

        <div class="navbar-actions" *ngIf="isLoggedIn" >
        <button
        pButton
        type="button"
        class="p-button-rounded p-button-text cart-image-button"
        (click)="isCartOpen = true">
        <img
            src="assets/add-to-cart.png"
            alt="cart"
            class="cart-icon-image" />
        <span class="cart-quantity">
            (+{{ getCartQuantity() }})
        </span>
        </button>
        <button
            pButton
            type="button"
            icon="pi pi-user"
            class="p-button-rounded p-button-text">
        </button>
        </div>
    </div>
    </div>

    <p-drawer
    [(visible)]="isCartOpen"
    position="right"
    [modal]="true"
    [dismissible]="true"
    [blockScroll]="true">

    <h3 class="drawer-title">My Cart</h3>

    <div *ngIf="!cart || cart.cartDetails.length === 0">
        <p>Giỏ hàng của bạn đang trống.</p>
    </div>

    <div *ngIf="cart && cart.cartDetails.length > 0">
        <div
        class="drawer-cart-item"
        *ngFor="let item of cart.cartDetails">

        <img
            [src]="item.imageUrl"
            alt="product image"
            class="drawer-product-image" />

        <div class="drawer-product-info">
            <h4>{{ item.productName }}</h4>

            <p class="drawer-price">
            Giá: {{ item.price | number }} đ
            </p>

            <div class="drawer-quantity">
            <button type="button" class="qty-btn" (click)="decreaseQuantity(item.productId)"> - </button>
            <span>{{ item.quantity }}</span>
            <button type="button" class="qty-btn" (click)="increaseQuantity(item.productId)"> + </button>
            </div>

            <p class="drawer-total">
            Tổng: {{ item.price * item.quantity | number }} đ
            </p>
        </div>
        </div>

        <div class="cart-summary">
        <div class="getTotalQuantity"><h4>Tổng số lượng sản phẩm: {{ getCartQuantity() }}</h4></div>
        <h4>Tổng cộng: <div class="getTotalPrice">{{ getTotalPrice() | number }} đ</div></h4>
        <button
  type="button"
  class="checkout-btn"
  (click)="checkout()">
  Thanh toán
</button>
    </div>
</div>
    </p-drawer>